# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

node_modules/
.next/
dist/
uild/
.env.local
*.log
*.env
*.local
*.lock
